

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<!DOCTYPE html>
<html>


<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Ninom</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/web/ninom-html/https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/web/ninom-html/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/web/ninom-html/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/web/ninom-html/css/responsive.css" rel="stylesheet" />
</head>

<body>

    <section class="shop_section layout_padding">
        <div class="container">
            <div class="box">
                <div class="detail-box">
                    <h2>
                        Fruit Factory
                    </h2>
                    <p>
                        There are many variations of fruits.
                    </p>
                </div>
                <div class="img-box">
                    <img src="~/web/ninom-html/images/shop-img.jpg" alt="">
                </div>
                <div class="btn-box">
                    <a href="">
                        Learn More!
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- end shop section -->
    <!-- about section -->

    @Html.Partial("PartialAbout")

    <!-- end about section -->
    <!-- fruit section -->

    @Html.Partial("PartialFruit")


    <!-- end fruit section -->
    <!-- client section -->
    <script type="text/javascript" src="~/web/ninom-html/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/web/ninom-html/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/web/ninom-html/js/custom.js"></script>

</body>

</html>