
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/Admin_LayOut.cshtml";
}

<br />
<form class="form-group" method="post">

    <input type="text" name="Name" class="form-control" placeholder="User Name" />
    <br />
    <input type="text" name="Message" class="form-control" placeholder="Comment" />
    <br />
    <input type="text" name="Image" class="form-control" placeholder="Image" />
    <br />

    <button class="btn btn-info">Save</button>
</form>